@import "tailwindcss";
@theme {
  --color-primary: #030303;
  --color-hover: #333333;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(160deg, #050a12, #0a1a2f, #112e42, #1b2f4a);
  overflow-x: hidden;
  font-family: Roboto;
}

button {
  user-select: none;
  cursor: pointer;
}

.sidebar-item.active {
  @apply bg-[#353535];
}

.sidebar-slide-nav-item.active {
  @apply bg-[#333333];
}

@layer components {
  .toast.show{
    @apply fixed top-[100px] right-0 min-w-[200px] z-50 rounded-lg text-white text-sm text-center px-5 py-3;
    transform: translateX(calc(100% + 20px));
    animation: slide_show 2s ease-out;
  }

  @keyframes slide_show {
    10% {
      transform: translateX(-30px); 
    }
    70% {
      transform: translateX(-30px);
    }
    85% {
      transform: translateX(-50px); 
    }
    100% {
      transform: translateX(100%);
    }
  }

  #header .loading-modal {
    @apply fixed inset-0 bg-black/40 backdrop-blur-sm flex items-center justify-center z-40;
  }

  #header .loading-modal.show {
    @apply block;
  }

  #header .loading-modal .animate-spin {
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    100% {
      rotate: 360deg;
    }
  }

  #header .header-user .drop-menu {
    @apply opacity-0 pointer-events-none translate-y-2;
  }

  #header .header-user .drop-menu.show {
    @apply opacity-100 pointer-events-auto translate-y-0;
  }


  .song-detail-item.active {
    @apply bg-[#223041];
  }

  .video-detail-item.active {
    @apply bg-[#223041];
  }
}
